.spots-container {

  display:grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;

}

.img-card img{
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.spot-card{
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}
.page-container{

  display: flex;
  flex-direction: row;
}


.review-card{

  color:#484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.review-user-stars {
  display: flex;

}
