.modal-content-signup {
  height: auto;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5%;
}
.signup-form-modal{
  /* border: 1px solid blue; */
  padding-bottom: 20px;
}
#signup-modal {
  /* width: 300px;
  height: 367px;
  border: 5px solid yellow;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 5px;
  gap:5px;
  padding-bottom: 5px;
  border-radius: 5px; */
}

.signup-modal-button-div {
  /* border: 1px solid blue; */
  display: flex;
  width: 300px;
  justify-content: center;
}

.signup-modal-button {
  padding-top: 5px;
  display: flex;
  justify-content: center;
  width: 145px;
}

/* #signup-form{
  height: auto;
  padding-top: 5px;
  gap:5px;
  padding-bottom: 5px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border-radius: 5%;
} */
/* .modal-content {
  height: 100px;
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
} */
