.no-spots-message{
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;

  display: flex;
  justify-content: center;
  padding-top: 25%;
}
.spots-container {

  display:grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;


}
