.spots-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;
  /* border: 3px solid green; */
}

.page-container {
  /* border: 3px solid green; */
  display: flex;
  flex-direction: row;

}

.reviews-container {
  /* box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px; */
}

button {
  color: white;
  background: rgb(205, 52, 99);
  border-radius: 5px;
  border: none;
  padding: 5px;
  background: linear-gradient(90deg, rgba(205, 52, 99, 1) 25%, rgba(244, 91, 106, 1) 50%, rgba(205, 52, 99, 1) 75%);
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;

}

a {
  text-decoration: none;
  font-size: 11px;
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
}

label {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: medium;
  justify-items: center;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.spot-text-container {
  /* box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px; */
}

.img-card {
  width: 300px;
  height: 300px;

  display: flex;
  flex-direction: row;
}

.spot-text {
  color: #484848;
  font-size: large;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.subtext {
  padding: 5px;
  font-size: medium;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.modal-title {
  font-size: large;
  color: #484848;
  display: flex;
  justify-content: center;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.top-spot-text {
  display: flex;
  align-content: center;
  justify-content: space-between;
}

input {
  border: 1px solid pink;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.img-card img {
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.review-card {

  padding: 6px;
  font-size: medium;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.review-user-stars {
  display: flex;
  justify-content: space-between;
  /* border: 1px blue solid; */
  font-size: small;
  color: #484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

hr.subline {
  border-top: 1px solid #55555563;

  width: 100%;
}

.side-panel {
  box-shadow: rgb(0 0 0 / 12%) 0px 6px 16px;
  border: none
}
