.spots-container {
  /* border: 5px blue solid; */
  display:grid;
  justify-content: center;
  grid-template-columns: repeat(3, 300px);
  grid-gap: 20px;

  /* width: 100vh;
  height: 100vh; */

}
a {
  text-decoration: none;
  font-size: 11px;
}
.img-card{
  width: 300px;
  height: 300px;
  /* object-fit: cover; */
  display: flex;
  flex-direction: row;
}
.spot-text{
  color:#484848;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
}

.top-spot-text {
  display: flex;
  align-content: center;
  justify-content: space-between;
}
.img-card img{
  border-radius: 15px;
  height: 100%;
  width: 100%;
  object-fit: cover;
  /* border: 3px black solid */
}
