
.modal-content-login {
  height: 300px;
  width: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;

  border-radius: 5%;
}


.username input{
  width: 100%;
  box-sizing: border-box;
}

.Password input {
  width: 100%;
  box-sizing: border-box;
}
.submit-button{

  /* box-sizing: border-box;*/
  display: flex;
  flex-direction: column;

  align-items: center;
  /* border: 1px solid black; */
  padding-top: 5px;
  gap: 5px;
  /* background: linear-gradient(90deg, rgba(205,52,99,1) 25%, rgba(244,91,106,1) 50%, rgba(205,52,99,1) 75%); */
}

form {

}
